body {
  font-family: sans-serif;
  min-height: 100%;
  font-size: 16px;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.WidgetContentWrapper {
  margin-top: 1rem;
}
.ChartMenu {
  max-width: 260px;
  margin: 1rem auto;
}
.ChartControl {
  display: flex;
  max-width: 260px;
  margin: 1rem 0;
}
.ChartControl:last-of-type {
  margin-bottom: 0.5rem;
}
.Header {
  height: 3rem;
  width: 100%;
}
